body {
  direction: ltr;
  text-align: left;
  font-weight: 500;
  font-family: Lato;
  overflow-x: hidden;
  background: #fff;
  color: #4a4a4a;
}
::selection {
  background:#45c0d6;
  color: #fff;
}
.p20 {
  margin-right: -10px;
  margin-left: -10px;

  > [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.p70{
  margin-right: -35px;
  margin-left: -35px;

  > [class*=col-] {
    padding-left: 35px;
    padding-right: 35px;
  }
}






